
body{
    max-width  : 1080px;
    max-height : 1920px;
    border     : 0;
    margin     : 0;
    width      : 100%;

}
canvas{
    margin           : 0;
    width            : 100%;
    height           : 100%;
    position         : absolute;
    background-color : red;
}

[id="gameOver"]{
    z-index          : 1;
    background-color : green;
    width            : 80%;
    height           : 80%;
    text-align       : center;
    float            : left;
    display          : inline-block;
    position         : absolute;
    margin-left: 10%;
    margin-top: 20%;
}

.displayNone{
    display: none;
}

